# 프로젝트 개요

데이터 출처
* 서울 열린데이터 광장 (data.seoul.go.kr)

수집 데이터 내용
* 서울시 주민등록 인구 (동별) 통계
* 서울시 자치구 년도별 CCTV 설치 현황 

문제 인식
* 서울시의 cctv개수와 서울시 범죄율 간의 상관관계
* cctv 배치 기준 모호

분석 목적
* 서울시 cctv 설치 현황과 운영 파악 및 자치구 수요 수치화를 통한 cctv 우선 배치 및 선정

# 데이터 파일 불러오기

## csv

In [1]:
import pandas as pd
# csv파일 안에 한글이 포함되어있다면 인코딩 => UTF-8
cctv_seoul = pd.read_csv('./data/cctv_in_seoul.csv', encoding='utf-8', thousands=',')
cctv_seoul.dropna(inplace=True)

In [2]:
cctv_seoul.head()

     기관명      소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221.0    1944.0  195.0  316.0  430.0  546.0  765.0  577.0  448.0
1  강 동 구  1879.0     303.0  387.0  134.0   59.0  144.0  194.0  273.0  385.0
2  강 북 구  1265.0     243.0   88.0  141.0   74.0  145.0  254.0    1.0  319.0
3  강 서 구  1617.0     219.0  155.0  118.0  230.0  187.0  190.0  264.0  254.0
4  관 악 구  3985.0     430.0   56.0  419.0  487.0  609.0  619.0  694.0  671.0

In [3]:
cctv_seoul.dtypes

기관명          object
소계          float64
2011년 이전    float64
2012년       float64
2013년       float64
2014년       float64
2015년       float64
2016년       float64
2017년       float64
2018년       float64
dtype: object

### 컬럼

In [4]:
cctv_seoul.columns

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [5]:
cctv_seoul.columns[0]

'기관명'

In [6]:
cctv_seoul.columns[1:3]

Index(['소계', '2011년 이전'], dtype='object')

In [7]:
cctv_seoul.columns[:]

Index(['기관명', '소계', '2011년 이전', '2012년', '2013년', '2014년', '2015년', '2016년',
       '2017년', '2018년'],
      dtype='object')

In [8]:
cctv_seoul.columns[-1]

'2018년'

### 이름 바꾸기

* 칼럼 이름 바꾸기

: df.columns = ['a', 'b']

: df.rename(columns = {'old_nm' : 'new_nm'), inplace = True)


* 인덱스 이름 바꾸기

: df.index = ['a', 'b']

: df.rename(index = {'old_nm': 'new_nm'), inplace = True)

inplace=True는 데이터 변수의 내용을 갱신하라는 의미

In [9]:
cctv_seoul.rename(columns={'기관명':'지역구'}, inplace=True)
cctv_seoul

        지역구      소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0     강 남 구  5221.0    1944.0  195.0  316.0  430.0  546.0  765.0  577.0  448.0
1     강 동 구  1879.0     303.0  387.0  134.0   59.0  144.0  194.0  273.0  385.0
2     강 북 구  1265.0     243.0   88.0  141.0   74.0  145.0  254.0    1.0  319.0
3     강 서 구  1617.0     219.0  155.0  118.0  230.0  187.0  190.0  264.0  254.0
4     관 악 구  3985.0     430.0   56.0  419.0  487.0  609.0  619.0  694.0  671.0
5     광 진 구  1581.0     470.0   42.0   83.0   87.0   64.0   21.0  468.0  346.0
6     구 로 구  3227.0     852.0  219.0  349.0  187.0  268.0  326.0  540.0  486.0
7     금 천 구  1634.0      27.0   17.0  242.0  101.0  382.0  136.0  199.0  530.0
8     노 원 구  1906.0     481.0  117.0  203.0   80.0  461.0  298.0  110.0  156.0
9     도 봉 구   858.0     197.0   66.0    8.0  185.0   59.0  155.0  117.0   71.0
11    동 작 구  1780.0     238.0   93.0   29.0  503.0  130.0  254.0  278.0  255.0
12    마 포 구  1935.0     585.0  108.0   69.0   70.0  177.0  359.0  372.0  195.0
13     서대문구  2121.0     565.0  233.0  214.0  114.0  109.0  277.0  415.0  194.0
14    서 초 구  2835.0    1172.0   91.0  228.0  134.0  215.0  352.0  247.0  396.0
15    성 동 구  2679.0     665.0  109.0  118.0  101.0  258.0  201.0  933.0  294.0
16    성 북 구  3003.0     779.0   84.0  304.0  241.0  279.0  388.0  285.0  643.0
17    송 파 구  1586.0     600.0   99.0   88.0   21.0  166.0  100.0  116.0  396.0
18    양 천 구  2775.0     772.0  161.0  185.0  169.0  172.0  349.0  137.0  830.0
19     영등포구  2495.0     132.0  121.0  206.0  217.0  366.0  289.0  371.0  793.0
20    용 산 구  2063.0    1279.0  152.0  201.0  107.0  102.0   89.0   60.0   73.0
21    은 평 구  2962.0    1365.0   83.0   99.0  343.0  180.0  296.0  229.0  367.0
22    종 로 구  1471.0       8.0    7.0  599.0  132.0  195.0  148.0  281.0  101.0
23  중     구  1544.0      25.0  165.0  114.0   80.0  245.0  270.0  317.0  328.0

In [10]:
import pandas as pd
cctv_seoul = pd.read_csv('./data/cctv_in_seoul.csv', encoding='utf-8')
cctv_seoul.dropna(inplace=True)

## excel

In [11]:
pop_seoul = pd.read_excel('./data/population_in_seoul.xlsx', encoding='utf-8', thousands=',')
pop_seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2019.1/4,합계,4290922,10054979,4909387,5145592,9770216,4772134,4998082,284763,137253,147510,2.28,1436125
3,2019.1/4,종로구,73914,162913,78963,83950,152778,74536,78242,10135,4427,5708,2.07,26981
4,2019.1/4,중구,61800,135836,66720,69116,125942,61992,63950,9894,4728,5166,2.04,22421

### 불필요한 헤더 제거

##### 불필요한 hearder를 제거

In [12]:
pop_seoul = pd.read_excel('./data/population_in_seoul.xlsx', 
                          header = 2,
                          encoding='utf-8', 
                          thousands=',')
pop_seoul.head()

,기간,자치구,세대,계,남자,여자,계.1,남자.1,여자.1,계.2,남자.2,여자.2,세대당인구,65세이상고령자
0,2019.1/4,합계,4290922,10054979,4909387,5145592,9770216,4772134,4998082,284763,137253,147510,2.28,1436125
1,2019.1/4,종로구,73914,162913,78963,83950,152778,74536,78242,10135,4427,5708,2.07,26981
2,2019.1/4,중구,61800,135836,66720,69116,125942,61992,63950,9894,4728,5166,2.04,22421
3,2019.1/4,용산구,109413,245139,119597,125542,229168,110626,118542,15971,8971,7000,2.09,38049
4,2019.1/4,성동구,137247,314608,154011,160597,306404,150287,156117,8204,3724,4480,2.23,43076

### 필요한 컬럼만 선택

##### 필요한 컬럼만 선택

In [13]:
pop_seoul = pd.read_excel('./data/population_in_seoul.xlsx', 
                          header = 2,
                          parse_cols = 'B, D, G, J, N',
                          encoding='utf-8', 
                          thousands=',')
pop_seoul.head()

   자치구         계      계.1     계.2  65세이상고령자
0   합계  10054979  9770216  284763   1436125
1  종로구    162913   152778   10135     26981
2   중구    135836   125942    9894     22421
3  용산구    245139   229168   15971     38049
4  성동구    314608   306404    8204     43076

### 컬럼 이름 변경

##### rename을 이용, 컬럼 이름 변경

In [14]:
pop_seoul.rename(columns={pop_seoul.columns[0] : '지역별',
                          pop_seoul.columns[1] : '인구수',
                          pop_seoul.columns[2] : '한국인',
                          pop_seoul.columns[3] : '외국인',
                          pop_seoul.columns[4] : '고령자'},
                          inplace = True)
pop_seoul.head()

   지역별       인구수      한국인     외국인      고령자
0   합계  10054979  9770216  284763  1436125
1  종로구    162913   152778   10135    26981
2   중구    135836   125942    9894    22421
3  용산구    245139   229168   15971    38049
4  성동구    314608   306404    8204    43076

# pandas 기초

In [15]:
import pandas as pd
import numpy as np

## Series : pandas의 데이터 유형 중 기초

In [16]:
s = pd.Series([1, 3, 5, np.nan, 6, 8]) # NaN(Not A Number)
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [17]:
s1 = pd.Series([10, 20, 30, 40, 50, 100])
s1

0     10
1     20
2     30
3     40
4     50
5    100
dtype: int64

## 날짜형 데이터

In [18]:
dates = pd.date_range('20200301', periods=6)
dates

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06'],
              dtype='datetime64[ns]', freq='D')

In [19]:
dates_xmas = pd.date_range('20201224', periods=8)
dates_xmas

DatetimeIndex(['2020-12-24', '2020-12-25', '2020-12-26', '2020-12-27',
               '2020-12-28', '2020-12-29', '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='D')

## DataFrame 만들어보기

In [99]:
# rand: 0부터 1사이의 균일 분포
# randn: 가우시안 표준 정규 분포
# randint: 균일 분포의 정수 난수
df = pd.DataFrame(np.random.randn(8,4),
                  index=dates_xmas,
                  columns=['A','B','C','D']
                 )
df.head(3)

                   A         B         C         D
2020-12-24 -0.093231  0.450949 -0.968167 -0.560457
2020-12-25 -0.513476  0.061722 -1.109975  1.529701
2020-12-26 -0.025160 -0.026347 -1.527302 -0.862896

## 인덱스 확인

In [21]:
df.index

DatetimeIndex(['2020-12-24', '2020-12-25', '2020-12-26', '2020-12-27',
               '2020-12-28', '2020-12-29', '2020-12-30', '2020-12-31'],
              dtype='datetime64[ns]', freq='D')

## 컬럼 확인

In [22]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

## 내용 확인

In [23]:
df.values

array([[ 0.75220944,  0.83551451, -1.81831661,  1.15921302],
       [-0.67373664, -0.15774884,  1.55501267,  1.41036128],
       [ 0.21144027, -0.59736341, -1.04253451, -0.85854282],
       [-1.27815194,  0.06560927,  0.29633153,  0.35810009],
       [-0.70581373,  0.25038441, -0.35653975,  0.60208277],
       [-0.4337113 , -0.39130056,  2.14820502,  0.66441454],
       [-2.20964392, -0.90719067, -0.38484856,  0.63224074],
       [-1.32755888, -0.43913356, -0.38716818, -0.16426962]])

## 개요 확인

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8 entries, 2020-12-24 to 2020-12-31
Freq: D
Data columns (total 4 columns):
A    8 non-null float64
B    8 non-null float64
C    8 non-null float64
D    8 non-null float64
dtypes: float64(4)
memory usage: 320.0 bytes

## 통계적 개요 확인

In [25]:
df.describe()

              A         B         C         D
count  8.000000  8.000000  8.000000  8.000000
mean  -0.708121 -0.167654  0.001268  0.475450
std    0.927197  0.546534  1.305971  0.719173
min   -2.209644 -0.907191 -1.818317 -0.858543
25%   -1.290504 -0.478691 -0.551010  0.227508
50%   -0.689775 -0.274525 -0.370694  0.617162
75%   -0.272423  0.111803  0.611002  0.788114
max    0.752209  0.835515  2.148205  1.410361

## 컬럼 기준 정렬

In [26]:
df_sort = df.sort_values(by='B', ascending=False)

In [27]:
df_sort

                   A         B         C         D
2020-12-24  0.752209  0.835515 -1.818317  1.159213
2020-12-28 -0.705814  0.250384 -0.356540  0.602083
2020-12-27 -1.278152  0.065609  0.296332  0.358100
2020-12-25 -0.673737 -0.157749  1.555013  1.410361
2020-12-29 -0.433711 -0.391301  2.148205  0.664415
2020-12-31 -1.327559 -0.439134 -0.387168 -0.164270
2020-12-26  0.211440 -0.597363 -1.042535 -0.858543
2020-12-30 -2.209644 -0.907191 -0.384849  0.632241

## 행의 범위 지정

In [28]:
df['A']

2020-12-24    0.752209
2020-12-25   -0.673737
2020-12-26    0.211440
2020-12-27   -1.278152
2020-12-28   -0.705814
2020-12-29   -0.433711
2020-12-30   -2.209644
2020-12-31   -1.327559
Freq: D, Name: A, dtype: float64

In [29]:
df[2:6]

                   A         B         C         D
2020-12-26  0.211440 -0.597363 -1.042535 -0.858543
2020-12-27 -1.278152  0.065609  0.296332  0.358100
2020-12-28 -0.705814  0.250384 -0.356540  0.602083
2020-12-29 -0.433711 -0.391301  2.148205  0.664415

In [30]:
df['20201227':'20201231']

                   A         B         C         D
2020-12-27 -1.278152  0.065609  0.296332  0.358100
2020-12-28 -0.705814  0.250384 -0.356540  0.602083
2020-12-29 -0.433711 -0.391301  2.148205  0.664415
2020-12-30 -2.209644 -0.907191 -0.384849  0.632241
2020-12-31 -1.327559 -0.439134 -0.387168 -0.164270

In [31]:
df['20201227':]

                   A         B         C         D
2020-12-27 -1.278152  0.065609  0.296332  0.358100
2020-12-28 -0.705814  0.250384 -0.356540  0.602083
2020-12-29 -0.433711 -0.391301  2.148205  0.664415
2020-12-30 -2.209644 -0.907191 -0.384849  0.632241
2020-12-31 -1.327559 -0.439134 -0.387168 -0.164270

## 변수를 이용해서 특정 날짜의 데이터만 보기

In [32]:
df.loc[dates_xmas[0]]

A    0.752209
B    0.835515
C   -1.818317
D    1.159213
Name: 2020-12-24 00:00:00, dtype: float64

In [33]:
df.loc[dates_xmas[3:6]]

                   A         B         C         D
2020-12-27 -1.278152  0.065609  0.296332  0.358100
2020-12-28 -0.705814  0.250384 -0.356540  0.602083
2020-12-29 -0.433711 -0.391301  2.148205  0.664415

In [34]:
df.loc[dates_xmas[:]]

                   A         B         C         D
2020-12-24  0.752209  0.835515 -1.818317  1.159213
2020-12-25 -0.673737 -0.157749  1.555013  1.410361
2020-12-26  0.211440 -0.597363 -1.042535 -0.858543
2020-12-27 -1.278152  0.065609  0.296332  0.358100
2020-12-28 -0.705814  0.250384 -0.356540  0.602083
2020-12-29 -0.433711 -0.391301  2.148205  0.664415
2020-12-30 -2.209644 -0.907191 -0.384849  0.632241
2020-12-31 -1.327559 -0.439134 -0.387168 -0.164270

In [35]:
df.loc['20201224':'20201227']

                   A         B         C         D
2020-12-24  0.752209  0.835515 -1.818317  1.159213
2020-12-25 -0.673737 -0.157749  1.555013  1.410361
2020-12-26  0.211440 -0.597363 -1.042535 -0.858543
2020-12-27 -1.278152  0.065609  0.296332  0.358100

In [36]:
df.loc[dates_xmas[0],['A','B']]

A    0.752209
B    0.835515
Name: 2020-12-24 00:00:00, dtype: float64

In [37]:
df.loc[dates_xmas[3:6],['A','B']]

                   A         B
2020-12-27 -1.278152  0.065609
2020-12-28 -0.705814  0.250384
2020-12-29 -0.433711 -0.391301

In [38]:
df.loc[dates_xmas[:],['A','B']]

                   A         B
2020-12-24  0.752209  0.835515
2020-12-25 -0.673737 -0.157749
2020-12-26  0.211440 -0.597363
2020-12-27 -1.278152  0.065609
2020-12-28 -0.705814  0.250384
2020-12-29 -0.433711 -0.391301
2020-12-30 -2.209644 -0.907191
2020-12-31 -1.327559 -0.439134

In [39]:
df.loc['20201224':'20201227',['A','B']]

                   A         B
2020-12-24  0.752209  0.835515
2020-12-25 -0.673737 -0.157749
2020-12-26  0.211440 -0.597363
2020-12-27 -1.278152  0.065609

## 행과 열의 번호를 이용해서 데이터에 접근

In [40]:
df.iloc[3]

A   -1.278152
B    0.065609
C    0.296332
D    0.358100
Name: 2020-12-27 00:00:00, dtype: float64

In [41]:
df.iloc[1:4]

                   A         B         C         D
2020-12-25 -0.673737 -0.157749  1.555013  1.410361
2020-12-26  0.211440 -0.597363 -1.042535 -0.858543
2020-12-27 -1.278152  0.065609  0.296332  0.358100

In [42]:
df.iloc[1:4,1:3]

                   B         C
2020-12-25 -0.157749  1.555013
2020-12-26 -0.597363 -1.042535
2020-12-27  0.065609  0.296332

In [43]:
df.iloc[[1,3,7],[0,3]]

                   A         D
2020-12-25 -0.673737  1.410361
2020-12-27 -1.278152  0.358100
2020-12-31 -1.327559 -0.164270

## 특정 조건 만족하는 데이터

In [44]:
df[df.A > 0.5]

                   A         B         C         D
2020-12-24  0.752209  0.835515 -1.818317  1.159213

In [45]:
df[df['A'] > 0.5]

                   A         B         C         D
2020-12-24  0.752209  0.835515 -1.818317  1.159213

In [46]:
df[df > 0.5]

                   A         B         C         D
2020-12-24  0.752209  0.835515       NaN  1.159213
2020-12-25       NaN       NaN  1.555013  1.410361
2020-12-26       NaN       NaN       NaN       NaN
2020-12-27       NaN       NaN       NaN       NaN
2020-12-28       NaN       NaN       NaN  0.602083
2020-12-29       NaN       NaN  2.148205  0.664415
2020-12-30       NaN       NaN       NaN  0.632241
2020-12-31       NaN       NaN       NaN       NaN

## 데이터 복사

##### DataFrame을 복사할 때 '='기호를 이용해서 복사하면 실제 데이터의 내용이 복사되는 것이 아니라 데이터 위치만 복사되기 때문에 원본 데이터는 하나만 있게 됨

* df를 사용할 수 없음, df_copy에 따라 데이터의 내용이 같이 변함(데이터는 하나)

In [95]:
# df_copy = df

In [96]:
# df_copy['E'] = ['one','one','two','three','four','three','seven','eight']

In [97]:
# df_copy

                   A         B         C         D      E
2020-12-24 -0.419326  0.683113 -1.588298 -0.668455    one
2020-12-25  2.494411  1.056842  0.318266  1.356346    one
2020-12-26  0.249315 -0.670114 -0.107369 -1.258406    two
2020-12-27  0.898552 -0.314191 -0.565169 -0.521513  three
2020-12-28 -0.406113  0.054755  0.146022 -0.667758   four
2020-12-29  0.061303  1.339212 -0.829810 -0.227122  three
2020-12-30 -0.737432 -1.705076 -0.375904  0.277240  seven
2020-12-31  1.953829  0.356794  0.070453  0.669687  eight

##### 데이터의 내용까지 복사 : copy()

In [100]:
df_copy_1 = df.copy()

In [101]:
df_copy_1['E'] = ['one','one','two','three','four','three','seven','eight']

In [102]:
df_copy_1

                   A         B         C         D      E
2020-12-24 -0.093231  0.450949 -0.968167 -0.560457    one
2020-12-25 -0.513476  0.061722 -1.109975  1.529701    one
2020-12-26 -0.025160 -0.026347 -1.527302 -0.862896    two
2020-12-27 -2.151258 -0.265095  0.817497 -0.927223  three
2020-12-28 -0.074611  1.261924 -1.067508 -1.259297   four
2020-12-29  0.981847 -0.484155 -2.693550  0.175005  three
2020-12-30  0.659055  0.467959 -1.825703 -0.089992  seven
2020-12-31  0.343067 -0.598507  0.459461  0.293824  eight

## isin()

In [80]:
df_copy_1['E'].isin(['one','four'])

2020-12-24     True
2020-12-25     True
2020-12-26    False
2020-12-27    False
2020-12-28     True
2020-12-29    False
2020-12-30    False
2020-12-31    False
Freq: D, Name: E, dtype: bool

In [81]:
df_copy_1[df_copy_1['E'].isin(['one','four'])]

                   A         B         C         D     E
2020-12-24  0.511901 -0.914196 -0.822925 -0.605025   one
2020-12-25  0.177202  0.750160 -0.932989 -1.266098   one
2020-12-28 -0.413412 -1.256807 -1.139761 -0.776906  four

## 통계 느낌의 데이터 - apply

In [87]:
df.apply(np.cumsum) # 누적합

,A,B,C,D,E
2020-12-24,0.511901,-0.914196,-0.822925,-0.605025,one
2020-12-25,0.689103,-0.164036,-1.755914,-1.871123,oneone
2020-12-26,3.095164,-0.306284,-1.924910,-3.737521,oneonetwo
2020-12-27,3.160087,1.555182,-1.247593,-4.036469,oneonetwothree
2020-12-28,2.746675,0.298375,-2.387354,-4.813375,oneonetwothreefour
2020-12-29,3.290437,-0.804670,-4.250050,-7.440592,oneonetwothreefourthree
2020-12-30,3.153387,0.213592,-3.258711,-6.821332,oneonetwothreefourthreeseven
2020-12-31,1.928150,0.239827,-2.104628,-5.766564,oneonetwothreefourthreeseveneight

In [106]:
df_copy_1

                   A         B         C         D      E
2020-12-24 -0.093231  0.450949 -0.968167 -0.560457    one
2020-12-25 -0.513476  0.061722 -1.109975  1.529701    one
2020-12-26 -0.025160 -0.026347 -1.527302 -0.862896    two
2020-12-27 -2.151258 -0.265095  0.817497 -0.927223  three
2020-12-28 -0.074611  1.261924 -1.067508 -1.259297   four
2020-12-29  0.981847 -0.484155 -2.693550  0.175005  three
2020-12-30  0.659055  0.467959 -1.825703 -0.089992  seven
2020-12-31  0.343067 -0.598507  0.459461  0.293824  eight

In [109]:
df.apply(np.cumsum, axis=0)

                   A         B         C         D
2020-12-24 -0.093231  0.450949 -0.968167 -0.560457
2020-12-25 -0.606707  0.512670 -2.078142  0.969244
2020-12-26 -0.631867  0.486324 -3.605444  0.106348
2020-12-27 -2.783124  0.221228 -2.787947 -0.820874
2020-12-28 -2.857735  1.483153 -3.855456 -2.080171
2020-12-29 -1.875889  0.998998 -6.549005 -1.905166
2020-12-30 -1.216834  1.466957 -8.374709 -1.995158
2020-12-31 -0.873767  0.868450 -7.915247 -1.701334

In [108]:
df.apply(np.cumsum, axis=1)

                   A         B         C         D
2020-12-24 -0.093231  0.357718 -0.610449 -1.170906
2020-12-25 -0.513476 -0.451754 -1.561730 -0.032028
2020-12-26 -0.025160 -0.051507 -1.578809 -2.441705
2020-12-27 -2.151258 -2.416353 -1.598856 -2.526078
2020-12-28 -0.074611  1.187313  0.119805 -1.139492
2020-12-29  0.981847  0.497692 -2.195858 -2.020853
2020-12-30  0.659055  1.127014 -0.698690 -0.788681
2020-12-31  0.343067 -0.255440  0.204021  0.497845

In [104]:
df.apply(np.average, axis=0) # 열 기준

A   -0.109221
B    0.108556
C   -0.989406
D   -0.212667
dtype: float64

In [105]:
df.apply(np.average, axis=1) # 행 기준

2020-12-24   -0.292727
2020-12-25   -0.008007
2020-12-26   -0.610426
2020-12-27   -0.631520
2020-12-28   -0.284873
2020-12-29   -0.505213
2020-12-30   -0.197170
2020-12-31    0.124461
Freq: D, dtype: float64

In [121]:
def get_divide(df):
    return (df['A'] + df['B'] + df['C'] + df['D']) / 4

In [122]:
df.apply(get_divide, axis=1)

2020-12-24   -0.292727
2020-12-25   -0.008007
2020-12-26   -0.610426
2020-12-27   -0.631520
2020-12-28   -0.284873
2020-12-29   -0.505213
2020-12-30   -0.197170
2020-12-31    0.124461
Freq: D, dtype: float64

In [123]:
df['average'] = df.apply(get_divide, axis=1)

In [124]:
df

                   A         B         C         D   average
2020-12-24 -0.093231  0.450949 -0.968167 -0.560457 -0.292727
2020-12-25 -0.513476  0.061722 -1.109975  1.529701 -0.008007
2020-12-26 -0.025160 -0.026347 -1.527302 -0.862896 -0.610426
2020-12-27 -2.151258 -0.265095  0.817497 -0.927223 -0.631520
2020-12-28 -0.074611  1.261924 -1.067508 -1.259297 -0.284873
2020-12-29  0.981847 -0.484155 -2.693550  0.175005 -0.505213
2020-12-30  0.659055  0.467959 -1.825703 -0.089992 -0.197170
2020-12-31  0.343067 -0.598507  0.459461  0.293824  0.124461

##### 최대값과 최소값의 차이(혹은 거리) one-line 함수인 lambda 사용

In [125]:
df.apply(lambda x: x.max() - x.min())

A          3.133104
B          1.860431
C          3.511047
D          2.788998
average    0.755981
dtype: float64

In [126]:
df.apply(lambda x: x.max() - x.min(), axis=1)

2020-12-24    1.419115
2020-12-25    2.639677
2020-12-26    1.502142
2020-12-27    2.968755
2020-12-28    2.521221
2020-12-29    3.675397
2020-12-30    2.484758
2020-12-31    1.057968
Freq: D, dtype: float64

## 재색인(reindex)
* 새로운 색인에 맞도록 객체를 새로 생성하는 기능, row, column, index 모두 변경 가능

##### Series 객체의 reindex

In [149]:
obj = pd.Series([2.3, 4.5, -4.1, 3.5], index=["D","A","V","E"])

In [150]:
obj

D    2.3
A    4.5
V   -4.1
E    3.5
dtype: float64

In [152]:
obj = obj.reindex(["D","A","J","V","E","K"])

In [153]:
obj

D    2.3
A    4.5
J    NaN
V   -4.1
E    3.5
K    NaN
dtype: float64

In [154]:
obj = obj.reindex(["D","A","J","V","E","K","G","U"], fill_value=0.0)

In [155]:
obj

D    2.3
A    4.5
J    NaN
V   -4.1
E    3.5
K    NaN
G    0.0
U    0.0
dtype: float64

##### DataFrame reindex

In [168]:
df_re = pd.DataFrame(np.arange(9).reshape(3,3),
                     index=["C","A","T"],
                     columns=["D","O","G"])

In [169]:
df_re

   D  O  G
C  0  1  2
A  3  4  5
T  6  7  8

In [170]:
df_re = df_re.reindex(["C","A","T","S"])

In [171]:
df_re

     D    O    G
C  0.0  1.0  2.0
A  3.0  4.0  5.0
T  6.0  7.0  8.0
S  NaN  NaN  NaN

In [172]:
df_re = df_re.reindex(columns=["D","O","G","B"])

In [173]:
df_re

     D    O    G   B
C  0.0  1.0  2.0 NaN
A  3.0  4.0  5.0 NaN
T  6.0  7.0  8.0 NaN
S  NaN  NaN  NaN NaN

In [175]:
df_re2 = pd.DataFrame(np.arange(16).reshape(4,4),
                     index=["a","b","c","d"],
                     columns=["x","y","z","w"])

In [176]:
df_re2

    x   y   z   w
a   0   1   2   3
b   4   5   6   7
c   8   9  10  11
d  12  13  14  15

In [179]:
df_re3 = df_re2.reindex(index=["a","b","c","e","d"], columns=["x","y","z","w","q"])
df_re3

      x     y     z     w   q
a   0.0   1.0   2.0   3.0 NaN
b   4.0   5.0   6.0   7.0 NaN
c   8.0   9.0  10.0  11.0 NaN
e   NaN   NaN   NaN   NaN NaN
d  12.0  13.0  14.0  15.0 NaN

## drop()
* index명을 사용해서 행을 삭제할 때는 ()안에 삭제할 행의 이름을 입력
* 주의할 점은 index명을 사용한다는 것이다.

##### 'index명' 또는 'index순서'로 행 삭제

In [182]:
df9 = pd.DataFrame(np.arange(16).reshape(4,4),
                   index=['seoul','busan','daegu','incheon'],
                   columns=['one','two','three','four'])
df9

         one  two  three  four
seoul      0    1      2     3
busan      4    5      6     7
daegu      8    9     10    11
incheon   12   13     14    15

In [183]:
df_row = df9.drop(['seoul','busan'])
df_row

         one  two  three  four
daegu      8    9     10    11
incheon   12   13     14    15

##### column과 axis를 같이 줘야 column이 삭제됨

In [186]:
df_column = df9.drop(['one','two'], axis=1)
df_column

         three  four
seoul        2     3
busan        6     7
daegu       10    11
incheon     14    15

## 문자열 컬럼을 숫자형으로

* pd.to_numeric()
* astype()

##### pd.to_numeric()

In [190]:
s = pd.Series(['1.0', '2', '-3'])
s.dtypes

dtype('O')

In [192]:
s1 = pd.to_numeric(s)
s1.dtypes

dtype('float64')

In [193]:
pd.to_numeric(s, downcast='float')

0    1.0
1    2.0
2   -3.0
dtype: float32

In [194]:
pd.to_numeric(s, downcast='signed')

0    1
1    2
2   -3
dtype: int8

In [195]:
s = pd.Series(['apple', '1.0', '2', -3])

In [196]:
pd.to_numeric(s, errors='ignore')

0    apple
1      1.0
2        2
3       -3
dtype: object

In [197]:
pd.to_numeric(s, errors='coerce')

0    NaN
1    1.0
2    2.0
3   -3.0
dtype: float64

In [198]:
df_str = pd.DataFrame({'col_str' : ['1','2','3','4','5']})

In [199]:
df_str

  col_str
0       1
1       2
2       3
3       4
4       5

In [200]:
df_str.dtypes

col_str    object
dtype: object

In [201]:
df_str['col_int'] = pd.to_numeric(df_str['col_str'])

In [202]:
df_str.dtypes

col_str    object
col_int     int64
dtype: object

In [203]:
df_str

  col_str  col_int
0       1        1
1       2        2
2       3        3
3       4        4
4       5        5

##### astype() - Dataframe 내 모든 문자열 칼럼을 float로 한꺼번에 변환하기

In [208]:
df4 = pd.DataFrame({'col_str_1': ['1', '2', '3'], 
                   'col_str_2': ['4.1', '5.5', '6.0']})
df4

  col_str_1 col_str_2
0         1       4.1
1         2       5.5
2         3       6.0

In [209]:
df4.dtypes

col_str_1    object
col_str_2    object
dtype: object

In [210]:
df5 = df4.astype(float)
df5

   col_str_1  col_str_2
0        1.0        4.1
1        2.0        5.5
2        3.0        6.0

In [211]:
df5.dtypes

col_str_1    float64
col_str_2    float64
dtype: object

# 판다스 이용해서 데이터 파악

In [224]:
import pandas as pd
cctv_seoul = pd.read_csv('./data/cctv_in_seoul.csv', encoding='utf-8', thousands=',')
cctv_seoul.dropna(inplace=True)
cctv_seoul.head()

     기관명      소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0  강 남 구  5221.0    1944.0  195.0  316.0  430.0  546.0  765.0  577.0  448.0
1  강 동 구  1879.0     303.0  387.0  134.0   59.0  144.0  194.0  273.0  385.0
2  강 북 구  1265.0     243.0   88.0  141.0   74.0  145.0  254.0    1.0  319.0
3  강 서 구  1617.0     219.0  155.0  118.0  230.0  187.0  190.0  264.0  254.0
4  관 악 구  3985.0     430.0   56.0  419.0  487.0  609.0  619.0  694.0  671.0

In [228]:
cctv_seoul.sort_values(by='소계', ascending=True).head()

        기관명      소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
9     도 봉 구   858.0     197.0   66.0    8.0  185.0   59.0  155.0  117.0   71.0
2     강 북 구  1265.0     243.0   88.0  141.0   74.0  145.0  254.0    1.0  319.0
22    종 로 구  1471.0       8.0    7.0  599.0  132.0  195.0  148.0  281.0  101.0
23  중     구  1544.0      25.0  165.0  114.0   80.0  245.0  270.0  317.0  328.0
5     광 진 구  1581.0     470.0   42.0   83.0   87.0   64.0   21.0  468.0  346.0

In [229]:
cctv_seoul.sort_values(by='소계', ascending=False).head()

      기관명      소계  2011년 이전  2012년  2013년  2014년  2015년  2016년  2017년  2018년
0   강 남 구  5221.0    1944.0  195.0  316.0  430.0  546.0  765.0  577.0  448.0
4   관 악 구  3985.0     430.0   56.0  419.0  487.0  609.0  619.0  694.0  671.0
6   구 로 구  3227.0     852.0  219.0  349.0  187.0  268.0  326.0  540.0  486.0
16  성 북 구  3003.0     779.0   84.0  304.0  241.0  279.0  388.0  285.0  643.0
21  은 평 구  2962.0    1365.0   83.0   99.0  343.0  180.0  296.0  229.0  367.0

In [ ]:
cctv_seoul['최근증가율'] = (cctv_seoul[''])

In [216]:
ls data

cctv_in_seoul.csv           ~$population_in_seoul.xlsx
population_in_seoul.xlsx